.rg-css {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}
.right-grp {
  position: absolute;
  left: 75%;
  top: 110%;
}
