.Navbar-css {
  position: fixed;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 7%;
  z-index: 2;
}
.searchbar {
  background-image: url(../Images/Group29.png);
  width: 27.8%;
  height: 40px;
  position: relative;
  left: 20%;
}
@media screen and (max-width: 720px) {
  .Navbar-css {
    visibility: hidden;
  }
}
