body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.n-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -2;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: rgba(0, 0, 0, 0.4);
  width: 100% !important;
}
.but-top-right {
  position: relative;
  margin-top: 1.5%;
  left: 80%;
}
.section-1 {
  position: relative;
  left: 27%;
  bottom: -200px;
  text-align: center;
}
.f-1 {
  color: white;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  width: 50%;
  line-height: 130%;
  margin-right: 0% !important;
}
.f-2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin-right: 50%;
  margin-right: 0% !important;
}
.f-3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-right: 50%;
  margin-top: 1%;
}
.sign-but {
  background-color: red !important;
  border: none !important;
  border-color: white !important;
  margin-left: 3%;
}
.glob-but {
  color: white !important;
  background-color: transparent !important;
  border-color: white !important;
}
.email-input {
  margin-top: 15%;
  width: 50% !important;
  position: relative;
  left: 27%;
  height: 300% !important;
}
.e-input-but {
  background-color: red !important;
  color: white;
}
.borderline {
  background-color: rgb(35, 34, 35);
  height: 9px;
  border-color: black;
  width: 100% !important;
}
.bl1 {
  margin-top: 245px;
}
.d1 {
  height: 500px;
}
.f-4 {
  color: white;
}
.f-2-1 {
  position: relative;
  right: 500px;
}
.f-2-2 {
  width: 50%;
}
.tv-ph {
  margin-left: 60%;
  margin-top: -200px !important;
}
.s-2-1 {
  position: relative;
  top: 110px;
}
.s-2-2 {
  position: relative;
  top: 120px;
}
.d2 {
  height: 600px;
}
.f-1-a {
  color: white;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  line-height: 130%;
  margin-left: 0% !important;
  margin-top: 150px;
  width: 120%;
}
.f-2-a {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}
.mac-ph {
  margin-left: 60%;
  margin-top: -100px;
}
.st-pic {
  margin-top: 80px;
  position: relative;
  right: 120px;
}
.d3 {
  height: 1000px;
}
.accordion-button {
  margin-right: 0% !important;
  background-color: rgb(49, 49, 48) !important;
  color: white !important;
  font-family: "Ubuntu", sans-serif;
  height: 90px !important;
  font-size: 30px !important;
  margin-bottom: 10px !important;
}

.accordion {
  width: 50% !important;
  margin-left: 25% !important;
  background-color: rgb(49, 49, 48) !important;
  border: none !important;
  margin-bottom: 50px !important;
  margin-top: 120px !important;
}
.accordion-body {
  background-color: rgb(49, 49, 48) !important;
  color: white !important;
  border: none !important;
  margin-top: 2px !important;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px !important;
}
.accordion-item {
  background-color: black !important;
}
.accordion-collapse {
  margin-bottom: 10px;
}
.faq {
  margin-left: 25% !important;
  padding-top: 100px !important;
}
