body {
  overflow: scroll;
}
.n-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -2;
  background-image: inherit;
  filter: grayscale(20%);
}
.but-top-right {
  position: relative;
  left: 60%;
}
.section-1 {
  position: relative;
  left: 23%;
  bottom: -200px;
}
.f-1 {
  color: white;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  width: 50%;
}
.f-2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}
.f-3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
